@font-face {
    font-family: "PressStart";
    src: url("../../src/PressStart2P-Regular.ttf");
  }

body {
    --viewportWidth: calc(100vw - var(--scrollbarWidth));
    width: var(--viewportWidth);
    --viewportHeight: calc(100vw - var(--scrollbarHeight));
    height: var(--viewportHeight);
    overflow: hidden;
    background-size: cover;
    background-attachment: fixed;
    background-image: url("../../img/waves.svg");
}
a,button {
  all: unset;
}

#app {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90vw;
    height: 95vh;
  }

.panel {
    text-transform: uppercase;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 3rem;
    background-image: url("../../img/gradient.svg");
    background-size: 100rem;
    background-attachment: fixed;
    box-shadow: 0.5rem 0.5rem 1rem rgba(34, 32, 32, 0.565);
    min-height: 60rem;
    justify-content: center;
}

.sub {
    font-size: 3.5rem;
    font-family: "PressStart";
    border-radius: 10rem;
    padding: 0.5rem;
    margin: 3rem;
    padding: 2rem;
    color: white;
}

.link-button,
.link-button:link,
.link-button:visited {
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.446);
  transition-property: box-shadow;
  transition-duration: 0.3s;
  border-color: #172bb2;
  background-color: rgba(0, 0, 0, 0);
}

.link-button:hover {
  box-shadow: unset;
  border-style: solid;
  border-width: 0.8px;
  border-color: #172cb29a;
}
