body{
  background-image: url('foto.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.5s;
  color: white;
  cursor: context-menu;
}
@font-face {
  font-family: "Free License";
  src: url("FreeLicense.ttf");
}
/* texto */

#image-jt{
  position: relative;
  margin: auto;
  margin-top: 20em;
  text-align: center;
  display: block;
  width: 210px;
  height: 210px;
  cursor: pointer;
  border-radius: 300px;
  transition: 2s;
  box-shadow: 0px 0px 30px rgba(31, 144, 170, 0.712);
}
#image-jt:hover{
  transform: scale(1.2);
  border-radius: 40px;
}
/* fondo de pantalla */ 
.fondo{
  position: absolute;
  position: fixed;
  top: -33%;
  bottom: 0;
  right: 0;
  left: -10%;
  width: 150%;
  height: 130%;
  transform: rotate(-30deg);
}
.panel{
  font-family: "Free License";
  position: relative;
  width: 1000%;
  height: 16.6666%;
  background-color: white;
  transition: 0.5s;
  background-color: transparent;
}
/* texto */
.texto{
  position: relative;
  font-size: 130px;
  opacity: 0;
  margin-left: 0%;
  transition: 4s;
}
.texto:hover{
  opacity: 1;
  transition: 1s;
}

/* carga de contenido y entrada difuminada */
.mainpage{
  visibility: hidden;
}
.show-true{
  animation: 5s fadeIn;
  animation-fill-mode: forwards;
}
@keyframes fadeIn{
  0% {
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

/* elemento de carga */ 
.loading{
  position: absolute;
  text-align: center;
  height: 200px;
  width: 400px;
  margin: -75px 0 0 -200px;
  top: 50%;
  left: 50%;
}
.ondas {
  display: inline-block;
  position: relative;
  animation: 2s fadeOut;
  animation-delay: 1s;
  width: 80px;
  height: 80px;
  }
.ondas div {
  position: absolute;
  border: 4px solid white;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
    
}
.ondas div:nth-child(2) {
    animation-delay: -0.5s;
}
@keyframes fadeOut {
  10% {
    opacity: 1;
  }
  80%{
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}
.op div{
  position: absolute;
  border: 4px solid white;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
/* centrado de elementos */ 
.center {
  margin: auto;
  vertical-align: center;
  text-align: center;
  margin-top: 4em;
}

  /* desaparecer paneles del fondo */
.disappear{
  opacity: 0;
  transition: 1.5s;
}
