@import url("https://fonts.googleapis.com/css?family=Montserrat:100");
html,
body,
h1 {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

#app {
  background: #0a0a0a;
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(10, 10, 10, 0.6), rgba(0, 0, 0, 0.9)),
    repeating-linear-gradient(
      0,
      transparent,
      transparent 2px,
      black 3px,
      black 3px
    ),
    url("../img/arboles.jpg");
  background-size: cover;
  background-position: center;
  z-index: 1;
}

#wrapper {
  text-align: center;
}


.bottom {
	display: none;
	position: absolute;
	bottom: 0px;
	width: 100%;
	z-index: 1;
}

.top {
  color: #64dcdc;
  font-family: "Space Mono", monospace;
  letter-spacing: 0.5rem;
  font-size: 1rem;
  display: none;
	position: absolute;
  left: 50%;
	top: 70%;
  transform: translate(-55%);
	z-index: 1;
}

#example:hover > .top {
	display: block;
}

#example:hover  {
	background-size: contain;
	display: block;
}


.home-link {
  position: absolute;
  top: 50%;
  right: 4%;
  transform: rotate(9deg);
}

.sub {
  color: #64dcdc;
  letter-spacing: 0.5rem;
  direction: rtl;
  display: inline-block;
  text-indent: -0.5rem;
  font-size: 1.25rem;
  transform: translate(-1rem);
}
a,
button {
  padding: 0.5rem;
  font-family: "Space Mono", monospace;
  border-radius: 1rem;
}
a:hover,
button:hover {
  background-color: #181a1b;
  border-style: solid;
  border-color: #64dcdc;
  transition-duration: 1s;
}

.sub-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.glitch {
  position: relative;
  color: white;
  font-size: 1.5em;
  letter-spacing: 0.5em;

  animation: glitch-skew 1s infinite linear alternate-reverse;
}
.glitch::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: 2px;
  text-shadow: -2px 0 #ff00c1;

  clip: rect(44px, 450px, 56px, 0);

  animation: glitch-anim 5s infinite linear alternate-reverse;
}
.glitch::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: -2px;
  text-shadow: -2px 0 #00fff9, 2px 2px #ff00c1;
  animation: glitch-anim2 1s infinite linear alternate-reverse;
}

@keyframes glitch-anim {
  0% {
    clip: rect(40px, 9999px, 48px, 0);
    transform: skew(0.14deg);
  }
  5% {
    clip: rect(33px, 9999px, 34px, 0);
    transform: skew(0.48deg);
  }
  10% {
    clip: rect(87px, 9999px, 20px, 0);
    transform: skew(0.32deg);
  }
  15% {
    clip: rect(8px, 9999px, 68px, 0);
    transform: skew(0.7deg);
  }
  20% {
    clip: rect(55px, 9999px, 22px, 0);
    transform: skew(0.97deg);
  }
  25% {
    clip: rect(64px, 9999px, 87px, 0);
    transform: skew(0.53deg);
  }
  30% {
    clip: rect(48px, 9999px, 76px, 0);
    transform: skew(0.12deg);
  }
  35% {
    clip: rect(96px, 9999px, 39px, 0);
    transform: skew(0.59deg);
  }
  40% {
    clip: rect(94px, 9999px, 6px, 0);
    transform: skew(0.82deg);
  }
  45% {
    clip: rect(84px, 9999px, 51px, 0);
    transform: skew(0.82deg);
  }
  50% {
    clip: rect(85px, 9999px, 99px, 0);
    transform: skew(0.62deg);
  }
  55% {
    clip: rect(58px, 9999px, 39px, 0);
    transform: skew(0.02deg);
  }
  60% {
    clip: rect(32px, 9999px, 20px, 0);
    transform: skew(0.49deg);
  }
  65% {
    clip: rect(77px, 9999px, 62px, 0);
    transform: skew(0.99deg);
  }
  70% {
    clip: rect(31px, 9999px, 71px, 0);
    transform: skew(0.95deg);
  }
  75% {
    clip: rect(69px, 9999px, 6px, 0);
    transform: skew(0.9deg);
  }
  80% {
    clip: rect(94px, 9999px, 77px, 0);
    transform: skew(1deg);
  }
  85% {
    clip: rect(3px, 9999px, 42px, 0);
    transform: skew(0.62deg);
  }
  90% {
    clip: rect(58px, 9999px, 42px, 0);
    transform: skew(0.81deg);
  }
  95% {
    clip: rect(6px, 9999px, 81px, 0);
    transform: skew(0.9deg);
  }
  100% {
    clip: rect(100px, 9999px, 31px, 0);
    transform: skew(0.21deg);
  }
}
@keyframes glitch-anim2 {
  0% {
    clip: rect(80px, 9999px, 12px, 0);
    transform: skew(0.98deg);
  }
  5% {
    clip: rect(45px, 9999px, 69px, 0);
    transform: skew(0.92deg);
  }
  10% {
    clip: rect(91px, 9999px, 14px, 0);
    transform: skew(0.5deg);
  }
  15% {
    clip: rect(25px, 9999px, 2px, 0);
    transform: skew(0.54deg);
  }
  20% {
    clip: rect(2px, 9999px, 44px, 0);
    transform: skew(0.7deg);
  }
  25% {
    clip: rect(64px, 9999px, 85px, 0);
    transform: skew(0.94deg);
  }
  30% {
    clip: rect(77px, 9999px, 31px, 0);
    transform: skew(0.28deg);
  }
  35% {
    clip: rect(90px, 9999px, 10px, 0);
    transform: skew(0.84deg);
  }
  40% {
    clip: rect(53px, 9999px, 55px, 0);
    transform: skew(0.77deg);
  }
  45% {
    clip: rect(50px, 9999px, 91px, 0);
    transform: skew(0.62deg);
  }
  50% {
    clip: rect(26px, 9999px, 39px, 0);
    transform: skew(0.11deg);
  }
  55% {
    clip: rect(16px, 9999px, 99px, 0);
    transform: skew(0.93deg);
  }
  60% {
    clip: rect(61px, 9999px, 10px, 0);
    transform: skew(0.55deg);
  }
  65% {
    clip: rect(62px, 9999px, 13px, 0);
    transform: skew(0.7deg);
  }
  70% {
    clip: rect(61px, 9999px, 78px, 0);
    transform: skew(0.4deg);
  }
  75% {
    clip: rect(10px, 9999px, 11px, 0);
    transform: skew(0.71deg);
  }
  80% {
    clip: rect(5px, 9999px, 26px, 0);
    transform: skew(0.1deg);
  }
  85% {
    clip: rect(25px, 9999px, 50px, 0);
    transform: skew(0.85deg);
  }
  90% {
    clip: rect(79px, 9999px, 94px, 0);
    transform: skew(0.56deg);
  }
  95% {
    clip: rect(2px, 9999px, 13px, 0);
    transform: skew(0.71deg);
  }
  100% {
    clip: rect(5px, 9999px, 7px, 0);
    transform: skew(0.19deg);
  }
}
@keyframes glitch-skew {
  0% {
    transform: skew(4deg);
  }
  10% {
    transform: skew(3deg);
  }
  20% {
    transform: skew(4deg);
  }
  30% {
    transform: skew(1deg);
  }
  40% {
    transform: skew(-3deg);
  }
  50% {
    transform: skew(-3deg);
  }
  60% {
    transform: skew(-1deg);
  }
  70% {
    transform: skew(0deg);
  }
  80% {
    transform: skew(1deg);
  }
  90% {
    transform: skew(-4deg);
  }
  100% {
    transform: skew(-3deg);
  }
}
