@font-face {
  font-family: "PressStart";
  src: url("PressStart2P-Regular.ttf");
}

body {
  --viewportWidth: calc(100vw - var(--scrollbarWidth));
  width: var(--viewportWidth);
  --viewportHeight: calc(100vw - var(--scrollbarHeight));
  height: var(--viewportHeight);
  overflow: hidden;
  background-size: cover;
  background-attachment: fixed;
  background-image: url("../img/waves.svg");
}

#app {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  height: 95vh;
}

#title {
  position: fixed;
  top: 50%;
  left: 50%;
  height: 5rem;
  width: 14rem;
  transform: translate(-50%, -170%);
}

.title {
  font-size: 1.2rem;
  color: aliceblue;
  position: fixed;
  top: 50%;
  left: 50%;
  max-width: 14rem;
  min-width: 3rem;
  float: left;
  clear: left;
  transform: translate(-50%, -50%);
  font-family: "PressStart";
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.sub {
  position: fixed;
  max-width: 14rem;
  min-width: 8rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -30%);
}

.link-button,
.link-button:link,
.link-button:visited {
  font-family: "PressStart";
  margin: 1rem;
  font-size: 0.8rem;
  text-align: center;
  position: relative;
  display: block;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.3rem;
  width: 8rem;
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.446);
  transition-property: box-shadow;
  transition-duration: 0.3s;
  border-color: #172bb2;
}

.link-button:hover {
  box-shadow: unset;
  border-style: solid;
  border-width: 0.8px;
  border-color: #172cb29a;
}

.panel {
  position: fixed;
  width: 10rem;
  height: 20rem;
  background-image: url("../img/gradient.svg");
  background-attachment: fixed;
  border-radius: 0.5rem;
  box-shadow: 0.5rem 0.5rem 1rem rgba(34, 32, 32, 0.565);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
