body{
    position: absolute;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(43,43,43);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.banner{
    position: relative;
    margin: auto;
    margin-top: 2em;
    width: 75%;
    border: black solid 3px;
    background-color: white;
    text-align: center;
    height: auto;
    word-break: break-word;
      
}
.banner::before{
    content: "1337 Newspaper";
    font-size: 5rem;
    color: blanchedalmond;
}

.articles{
    position: relative;
    width: 100%;
    margin: auto;
    margin-top: 1rem;
    width: 75%;
    height: 100%;
    border: black solid 3px;
    overflow-y: scroll;
}
.articles::-webkit-scrollbar {
    display: none;
}
.post{
    position: relative;
    margin: auto;
    margin-top: 1rem;
    width: 75%;
    height: 25%;
    background-color: blanchedalmond;
    border: black solid 3px;
    overflow-y: hidden;
    display: flex;
    flex-direction: row;
    transition: 0.5s;
}
.post:hover{
    background: rgb(200, 187, 187);
}
.post:active{
    background: rgb(60, 65, 92);
    color: blanchedalmond;
}
.image-container{
    position: relative;
    margin-left: 2%;
    margin-top: 2.5%;
    max-width: 15%;
    min-width: 20%;
}
#image01{
    width: 85%;
    height: 85%;
}
.text{
    position: relative;
    width: 75%;
    height: 100%;
    font-size: 22px;
    margin-top: 2.5%;
    margin-right: 1em;
}
.themed{
    background-color: rgb(60, 65, 92);
}
a{
    color: black;
    text-decoration: none;
}
video{
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: -1;
}
