body{
    background-color: rgba(5,5,5,.6);
}
.container {
    height: 100vh;
    width: 70vw;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.reloj-container{
    color: rgba(210,210,210,.6);
    width: 100%;
    background-color: rgba(5,5,5,.8);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem auto;
    border-radius: 5px;
    transition: transform .7s;
    cursor: pointer;
}
.reloj-container:hover{
    transform: scale(1.3);
}